/* Hide the default checkbox */
.menu-open {
    display: none;
}

/* Style the menu container */
.menu {
    position: relative;
    display: block;
    margin: 40px;
}

/* Style the hamburger icon */
.menu-open-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #d84949;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.menu-line {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
    transition: transform 0.5s ease, background 0.5s ease;
}

/* Keyframes for enlarging animation */
@keyframes enlarge {
    0%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.4);
    }
    90% {
        transform: scale(1);
    }
}

/* Apply animation on click */
input:checked + .menu-open-button {
    animation: enlarge 0.9s ease-in-out;
}

.menu-open:checked + .menu-open-button .menu-line-1 {
    transform: rotate(45deg) translate(9px, 9.5px);
}

.menu-open:checked + .menu-open-button .menu-line-2 {
    opacity: 0;
}

.menu-open:checked + .menu-open-button .menu-line-3 {
    transform: rotate(-45deg) translate(9.5px, -9px);
}

/* Style the menu items */
.menu-item {
    width: 50px;
    height: 50px;
    background: #d84949;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform 0.5s ease, background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu-item:hover {
    background: #fdfdfd;
    border: 1.5px solid #d84949;

    .fa {
        color: #d84949;
    }
}

.menu-open:checked ~ .menu-item {
    transform: scale(1);
}

/* Positioning the menu items */
.menu-item:nth-child(3) { /* First menu item */
    top: 60px;
    left: 0;
}

.menu-item:nth-child(4) { /* Second menu item */
    top: 120px;
    left: 0;
}

.menu-item:nth-child(5) { /* Third menu item */
    top: 180px;
    left: 0;
}

.menu-item:nth-child(6) { /* Fourth menu item */
    top: 240px;
    left: 0;
}

.menu-item:nth-child(7) { /* Fifth menu item */
    top: 300px;
    left: 0;
}
